# Node
node_modules/
.env
dist/
build/
*.log

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/generated/
backend/uploads/

# Vite
.vite/
.cache/

# Editor / Sistema
.DS_Store
Thumbs.db
*.swp
*.swo

# VSCode
.vscode/

# Windows
ehthumbs.db
desktop.ini

# Linux
*.pid
